/* universal Selector*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial , sans-serif;
    background-color: beige;
    margin: 1;
    padding: 0;
}

header {
    background-color: rgba(42, 8, 49, 0.493);
    color: black;
    text-align: center;
    padding: 15px;
    margin: 20px; 
}

section {
    background-color: rgba(222, 184, 135, 0.267);
    
    text-align: center;
    padding: 20px 10px 40px 10px;
    margin: 20px;
    border-top: 3px solid blanchedalmond;
}

.box {
  padding: 10px;
  margin: 10px;
  background-color: rgba(60, 0, 128, 0.24);
  color: black;
  text-align: center;
  border: 2px solid black;
  box-sizing: border-box; /* ensures padding fits inside width */
  font-size: 15px;
  position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(242, 18, 250, 0);
    width:200px;
    margin: auto;

}

label {
    text-align: left;
    font-weight: bold;
}

 button {
    background-color: beige;
    color: black;
    width: 100%;
    padding: 5px;
    margin: auto;
    border: radius 10px; 
    display: inline;
    text-align: center;
    
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid rgba(0, 0, 0, 0.884);
    color: rgb(5, 82, 248);
}

img {
    display: block;
    margin: 20px auto;
}